/* body {
    align-items: center;
    text-align: center;
    align-content: center;
    background-image: url("https://wallpapercave.com/wp/wp2883571.jpg");
    background-size: 100%;
} */
table{
    text-align:center;
}
.main {
    background-image: url("https://wallpapercave.com/wp/wp2883571.jpg");
    height: 100%;
    background-attachment: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

p {
    font: bold;
    align-items: center;
    color: white;
    font-size: xx-large;
}

button {
    background-color: seashell;
    width: 100px;
}